/* IMPORTS FONT */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CONTENU NAVBAR */
.Navbar {
    background: #edc267;
    height: 86px;
    width: 1276px;
    position: sticky;
    display: flex;
    align-items: center;
    border-radius: 100px;
    margin: 40px auto 72px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Bellota", system-ui;
    padding: 0px 69px 0px 69px;
    justify-content: space-between;
    box-sizing: border-box;
}

.Navbar ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    gap: 80px;
}

.Navbar li {
    display: inline-block;
}

.Navbar li a {
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}


/* Style commun pour les boutons connexion/déconnexion */
.Navbar li.auth-link {
    padding-left: 20px;
    border-left: 2px solid #114198;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 260px
}

.logo img {
    height: 50px;
}

i.fa-brands.fa-html5 {
    font-size: 30px;
    color: black;
}

span.connected {
    position: absolute;
    top: 100%; 
    left: 0;
    transform: translateY(10px); 
    font-size: 14px;
    color: #114198;
    text-align: left;
}

.user {
    position: absolute;
    top: 65px;
    right: 100px;
    font-size: 14px;
    text-align: right;
}

/* Centrer les éléments "Accueil" et "Classement" pour les utilisateurs non-admin */
.Navbar .nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Navbar .auth-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* TABLETTE */
@media screen and (max-width: 1024px) {
    .Navbar {
        width: 90%;
        height: 70px;
        padding: 0 30px;
        margin: 30px auto 50px auto;
    }

    .Navbar ul {
        gap: 40px;
    }

    .Navbar li a {
        font-size: 20px;
    }

    .Navbar li.auth-link {
        padding-left: 30px;
    }

    .logo  {
        display: none;
    }

    i.fa-brands.fa-html5 {
        font-size: 25px;
    }

    span.connected {
        margin: 0 200px;
        font-size: 16px;
    }

    .user {
        position: absolute;
        top: 55px;
        right: 40px;
        font-size: 14px;
        text-align: right;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .Navbar {
        width: 95%;
        height: 60px;
        padding: 0 15px;
        margin: 20px auto 40px auto;
    }

    .Navbar ul {
        width: 100%;
        gap: 20px;
        justify-content: space-around;
    }

    .Navbar li.auth-link {
        margin-left: 0;
        padding-left: 10px;
        border-left: 1px solid #114198;
    }

    .Navbar .nav-links {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 10px;
    }

    .Navbar li a {
        font-size: 14px;
    }

    .logo {
        display: none;
    }

    span.connected {
        margin: 0 100px;
        font-size: 14px;
    }
    .user {
        right: 54px;
        /* margin-top: 30px; */
        font-size: 12px;
        text-align: center;
        top: 45px;
    }

}
.Navbar.admin li a {
    font-weight: bolder;
    color: #253154;
    font-size: 18px;
}
.Navbar.admin ul {
    gap: 20px;
}